/*================================================
    register.blade.php & login.blade.php start
================================================*/
.error_div ul{
    margin-left: 10px !important;
}
.login-layout{
    background-color: #DFE0E2;
}
.dark-login{
    background-color: #1D2024;
}
.login-container{
    margin: 0 auto;
    margin-top: 8%;
}
/*================================================
    register.blade.php & login.blade.php end
================================================*/

/* file upload */
.file-upload .file-upload-select {
	display: block;
	cursor: pointer;
	text-align: left;
	background: #fff;
    border: 1px solid rgb(181, 181, 181, 0.7);
	overflow: hidden;
	position: relative;
}
.file-upload .file-upload-select .file-select-button {
    background: #6FB3E0;
    color: #fff;
    padding: 5px 8px;
    margin-left: 3px;
    display: inline-block;
}
.file-upload .file-upload-select .file-select-name {
	display: inline-block;
	padding: 7px 10px;
}

.file-upload .file-upload-select input[type="file"] {
	display: none;
}


/* toggle switch button */
.toggle-btn {
    width: 60px;
    height: 24px;
    margin: 10px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==") no-repeat 37px center #e74c3c;
    cursor: pointer;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
  }
  .toggle-btn.active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC") no-repeat 10px center #2ecc71;
  }
  .toggle-btn.active .round-btn {
    left: 39px;
  }
  .toggle-btn .round-btn {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 75%;
    margin-top: -15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .toggle-btn .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }





/*===================================
        app.blade.php start
====================================*/
.no-skin .nav-list > li > a {
    color: #1D2024;
    font-size: 13px;
}
.no-skin .nav-list > li .submenu > li > a .fa-user {
    margin-right: 3px;
}
.no-skin .nav-list > li .submenu > li > a .fa-building {
    margin-right: 3px;
}
/*===================================
        app.blade.php start
====================================*/




/*===================================
        home.blade.php start
====================================*/
/* .page-content .welcome{
    background: #438EB9;
} */
.page-content .welcome button{
    color: #007bff ;
    opacity: 0.7;
}
.page-content .welcome button:hover{
    opacity: 1;
    color: #ffc107 ;
    transition: 0.4s;
}
.page-content .welcome .check_i_tag{
    color: #007bff ;
}
.page-content .welcome span{
    color: #007bff ;
}
.page-content .welcome .green{
    color: #007bff  !important;
}
/*===================================
        home.blade.php end
====================================*/
/*===================================
        app.blade.php end
====================================*/
.footer .row{
    display: flex;
}
.footer .left{
    margin-left: 10px;
}
.footer .right{
    margin-right: 10px;
}
/*===================================
        app.blade.php end
====================================*/

